/*********** Base Rule Start************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

p {
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 1px;
}
body {
    background-color: white;
    height: 100%;
    width: 100%;
}

/********** Base Rule End hire  *********/

/* Navbar section */

.nav-container {
    /* background-color: yellow; */
    justify-content: space-between;
    height: 6rem;
    margin: 0 15rem;

}

.logo {
    font-size: 3.2rem;
    transition: all 1s linear;
    cursor: pointer;
}

.nav-list {
    gap: 4rem;

    & li {
        list-style: none;
    }

    & a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 500;
        color: black;
        transition: all 0.18s linear;
        /* animation: border 1s linear infinite; */
    }
}

.nav-list li a:hover {
    color: #3f86fb;
}


/* Navbar section */



/* Home section */
.home-section {
    position: relative;
    padding: 13rem 20rem 13rem;
    margin: 0 0 4rem 0;
    background-image: linear-gradient(45deg,
            #3f86fb,
            #e8f1fe);
}

.home-grid figure img {
    width: 40rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.home-section .home-content {
    & .heading1 {
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--para-color);
    }

    & h1 {
        font-size: 4.8rem;
    }

    & .heading2 {
        font-size: 2.8rem;
        font-weight: 600;
        color: var(--para-color);

    }
}

.home-section .home-grid .home-content {
    & .home-btn {
        align-items: center;
        justify-content: center;
        gap: 1.4rem;
        padding-top: 3rem;

        & .btn {
            font-weight: 600;
            color: #484866;
            background: none;
            padding: 1.5rem 1.7rem;
            border-radius: 3rem;
            border: 2px solid black;
            cursor: pointer;
        }

        & .cv-btn {
            transition: all 0.2s linear;

            &:hover {
                background-color: #141e2c;
                color: white;
            }
        }

        & .contant-btn {
            background-color: #141e2c;
            color: white;
            transition: 0.2s linear;

            &:hover {
                background-color: black;

            }

        }
    }
}

.home-section .home-grid .home-content .home-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1.3rem 0 0;

    & .icon-div {
        border-radius: 50%;
        display: flex;
        width: 3rem;
        aspect-ratio: 1;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        cursor: pointer;
    }
}

/* Home section */

/* shape divider css */
.custom-shape-divider-bottom-1707056050 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707056050 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 13rem;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1707056050 .shape-fill {
    fill: #FFFFFF;
}

/* shape divider css */

/* section about start */
.section-about {
    padding: 8rem 20rem 13rem;
}
.section-about .about-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & p {
        font-size: 1.6rem;
    }

    & h1 {
        font-size: 4.8rem;
        font-weight: 800;
    }
}

.section-about .about-content {
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.section-about .about-content {
    & .about-left {
        & img {
            width: 40rem;
            aspect-ratio: 1;
        }
    }

    & .about-right {
        & .edu-experiance--section{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            text-align: center;
            margin: 0 0 2rem 0 ;
            width: 100%;
            height: 100%;
            
            & .edu-experiance {
                padding: 3rem 5rem;
                border: 2px solid black;
                border-radius: 3rem;
                font-size: 2.6rem;
                height: 19rem;
                width: 50%;
                & a i {
                    color: black;
                }
                & p {
                    font-size: 1.6rem;
                }
                & h2 {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

.section-about .about-content .sub-para p {
    font-size: 1.6rem;
}

/* section about end */